main{
    min-height: 80vh;
}

.rating span{
    margin: 0.1em;
}

.rating h3{
    margin: 0.5em;
}

.ListInfo{
    background-color: #000;
}

.ListInfo .list-group-item {
  border: none; /* Removes border if necessary */
}